<html>
  <body style='background-color: white;'
        class="<%= class_name %>"
        id="id-for-html">
    <% random_array_of_stuff.each do |arr_elem| %>
      <% if arr_elem %>
        <% case arr_elem %>
        <% when Fixnum %>
          <p><%= arr_elem > 0 %><tag></tag></p>
        <% when String %>
          <p><%= arr_elem %><tag></tag></p>
        <% when Array %>
          <p><%= "length: #{arr_elem.length}" %><tag></tag></p>
        <% end %>
      <% else %>
        Random html text
        <%= "Random erb string" %>
      <% end %>
    <% end %>

    <script src="http://my-js-source.example.com"></script>
    <script type="text/coffeescript">
      if conditionIsTruthy
        someRandomVar = "String"
      else
        aDifferentVar = 5
    </script>

    <style type="text/scss">
      body {
        line-height: 1;
        &:hover, p {
          line-height: .8;
        }
      }
    </style>
  </body>
</html>