%html
  %body#id-for-html{ style: 'background-color: white;', class: class_name }
    / Testing for control flow in erb below
    - random_array_of_stuff.each do |arr_elem|
      - if arr_elem
        - case arr_elem
          - when Fixnum
            %p
              = arr_elem > 0
              %tag
          - when String
            %p
              = arr_elem
              %tag
          - when Array
            %p
              = "length: #{arr_elem.length}"
              %tag
      - else
        Random html text
        = "Random erb string"
    / Testing for self-closing tags below
    %img{ src: "sample-photo.example.com", alt: "example photo for self-closing tag" }
    %script{ src: "http://my-js-source.example.com" }
    / Testing for script/style tags below
    :coffeescript
      if conditionIsTruthy
        someRandomVar = "String"
      else
        aDifferentVar =#{erb_var} * 5
    :scss
      body {
        line-height: 1;
        &:hover, p {
          line-height: .8;
        }
      }
